body {
  background: #202135;
}

a, a:hover{
  color: #fff;
  text-decoration: none;
}

ul{
  list-style: none;
}

.lanzamiento {
  height: 100vh;
}

.row{
  margin-bottom: 5%;
}

.avatar{
  width: 80px;
  height: auto;
  border-radius: 80px;
}
